.label-input {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #404040;
  margin-bottom: 8px;
}

.custom-input-text {
  outline: none;
  background: #FFFFFF;
  border: 2px solid #EDEDED;
  border-radius: 8px;
  padding: 8px 16px;
  color: #404040;
}

.custom-input-text:focus {
  border: 2px solid #01959F;
}