table > thead tr th,
table > tbody tr td {
  border: 1px solid black;
}

.table-img {
  width: 100px;
  cursor: pointer;
}

.btn-edit {
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: green;
  color: #ffffff;
  cursor: pointer;
}

.btn-edit:hover {
  border: 1px solid green;
  color: green;
  background-color: #ffffff;
}

.btn-delete {
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}

.btn-delete:hover {
  border: 1px solid red;
  color: red;
  background-color: #ffffff;
}