.sidebar-container {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu-item-list {
  padding: 12px;
  text-align: center;
}

.content-container {
  padding: 24px 64px;
  margin-left: 250px;
}